<div>
	<h1 style="color: white">TESTING PAGE</h1>

	<% @all_questions.each do |x| %>
	<div>
	  	<p style="color: white">Title: <%= x.title %></p>
	 	<p style="color: white">Content: <%= x.content %></p>
	 	<p style="color: white">Answer: </p>
	  		<% @all_answers.each do |a| %>
	 			<% if a.question_id == x.id %>
	 	   			<p style="color: white"><%= a.content %></p>
	 			<%end%>				
	  		<%end%> 
	  	<div style="color: white"></div>
	 	<form method="post" action="/new_answer" class="newanswer">
			Answer:<input type="text" placeholder="Answer" name="answer[content]">
			<input type="hidden" name="answer[question_id]" value="<%= x.id%>">
	    	<input type="submit" value="Post Answer">
		</form>
	<div>  		
	<%end%>
</div>