<div class="container" style="width: 35%">
  	<h1 style="text-align:center;" id="header">Welcome To  Quora</h1>

  	<div class="flip">Sign up an account</div>
	<div class="panel" style="text-align: right">
		<form method="post" action="/signup">
			Name:<input type="text" placeholder="Name" name="user[name]"><br>
	    	Email:<input type=text placeholder="Email" name="user[email]"><br>
	    	Password:<input type=password placeholder="Password" name="user[password]"></br>
	    	Retype Password:<input type=password placeholder="Password" name="user[password_confirmation]"></br>
	    <input type=submit value="Sign up">
		</form>
	</div>
	<div class="flip2">Sign in here</div>
	<div class="panel2" style="text-align: right">
		<form method=post action="/signin">
			Name:<input type="text" placeholder="Name" name="name"><br>
	    	Password:<input type=password placeholder="Password" name="password"></br>
	    <input type=submit value="Sign in">
	    </form>
	</div>
</div>
